.phastpress-settings {
    margin-top: 10px;
    padding: 10px;
    background: white;
    border: 1px solid silver;
    overflow: auto;
}

.phastpress-settings-title {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.phastpress-settings-setting {
    margin-top: 10px;
}

.phastpress-settings-setting-name {
    float: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}

.phastpress-settings-setting-value {
    float: right;
    vertical-align: middle;
    line-height: 30px;
}

.phastpress-settings-setting-value label {
    margin-left: 5px;
}

.phastpress-settings-setting-description {
    clear: both;
    position: relative;
    top: -5px
}

.phastpress-settings-problem {
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.phastpress-settings-problem::before {
    content: "\f534";
    display: block;
    float: left;
    font: 400 24px/18px dashicons;
}

.phastpress-settings-warning {
    border-color: darkorange;
    background: orange;
    color: white;
}

.phastpress-settings-error {
    border-color: maroon;
    background: #cc0000;
    color: white;
}








