.phastpress-settings {
    margin-top: 10px;
    padding: 10px;
    background: white;
    border: 1px solid silver;
    overflow: auto;
}

.phastpress-settings-title {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.phastpress-settings-setting {
    margin-top: 10px;
}

.phastpress-settings-setting-name {
    float: left;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}

.phastpress-settings-setting-value {
    float: right;
    vertical-align: middle;
    line-height: 30px;
}

.phastpress-settings-setting-value label {
    margin-left: 5px;
}

.phastpress-settings-setting-description {
    clear: both;
    position: relative;
    top: -5px
}

.phastpress-settings-problem {
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.phastpress-settings-problem::before {
    content: "\f534";
    display: block;
    float: left;
    font: 400 24px/18px dashicons;
}

.phastpress-settings-warning {
    border-color: darkorange;
    background: orange;
    color: white;
}

.phastpress-settings-error {
    border-color: maroon;
    background: #cc0000;
    color: white;
}

.phastpress-settings code {
    border: 1px solid #ccc;
    border-radius: 3px;
}

.phastpress-features-report {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    font-size: 16px;
}

.phastpress-features-report-header {
    font-size: 18px;
}


.phastpress-features-report th,
.phastpress-features-report tr:last-child td

{
    border-bottom: 1px solid #bbb;
}

.phastpress-features-report th,
.phastpress-features-report td {
    padding: 10px;
}

.phastpress-features-report .phastpress-feature {
    text-align: left;
}


.phastpress-features-report .phastpress-availability,
.phastpress-features-report .phastpress-reason
{
    text-align: center;
}

.phastpress-features-report .phastpress-availability ::before {
    display: block;
    font: 400 40px/24px dashicons;
}

.phastpress-features-report .phastpress-feature-available::before {
    content: '\f147';
    color: green;
}

.phastpress-features-report .phastpress-feature-unavailable::before {
    content: '\f335';
    color: red;
}

.phastpress-features-report .phastpress-api-hint {
    font-size: 14px;
    text-align: center;
    padding: 5px;
}



